  body{
      background-image: url("https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1055&q=80");
      background-size: cover;

  }
 
 span {
     margin-left: 20px;
 }
 
 header {
     display: inline-block; 
     padding: 40px;
     margin-left: 400px;
     letter-spacing: 10px;
     font-family: 'Margarine', cursive;
     font-size: x-large;
     color: green;
     border: solid black 2px;
     border-radius: 20px;
     animation-duration: 5s;
     animation-delay: 5s;
     animation-iteration-count: infinite;
  

 }

 .arrange {
     display: flex;
     flex-direction: row;
     justify-content: space-evenly;
     margin:  auto;

     
 }

 button {
     width: 100px;
     height: 90px;
     border-radius: 20px;
 }
    
 button:hover{
     background-color: lavender;
     color: blueviolet;
     font-size: 20px;

 }



.tic {
    display: grid;
    grid-template-columns: 50px 50px 50px;
    grid-template-rows:  50px 50px 50px;
    /* margin-left: 400px;
    margin-top: 200px;
    margin-bottom: 50px; */
}

#upperleft {
    border-bottom: 2px black solid; 
    border-right: 2px black solid;
   
}

#uppermiddle {
    border-bottom: 2px black solid; 
    border-right: 2px black solid;

}

#upperright {
    border-bottom: 2px black solid;

}


#middleleft {
    border-bottom: 2px black solid;
    border-right: 2px black solid;
}

#middlemiddle {
    
    border-right: 2px black solid;
    border-bottom: 2px black solid; 

}


#middleright {
    border-bottom: 2px black solid;

}


#lowerleft{
    border-right: 2px black solid;

}

#lowermiddle {
    border-right: 2px black solid;

}

/* .buttons {
    display: flex;
    justify-content: center;
} */

h2 {
    font-family: 'Baloo Chettan', cursive;
    color:green;
    
}

