
body { 
    width: 1500px ;
    height: 1000px ;
    display: grid;
    grid-column: auto;
    grid-row: 1fr 1fr 1fr;
    border: black solid 2px;

}

h1 { 
    color: black;
    
}

.info {
    display: flex;
    display: inline;
    background-color: blue;
    border: 2px black solid;
    
}
article { 
    border: solid black 1px;

}
.image {
    background-color: brown;
    width: 100px;
    height: 100px;

}
.news {
    display: flex;
    align-items: flex-start;
    background-color: chartreuse;
    width: 100px;
    height: 100px;
    margin: 0 auto;


}
.best {
    margin: auto;
    font-weight: 200px;

}

.blog {
    display: flex;
}