.wrapper { 
    display: grid;
    grid-template: 50% 50%, 50% 50%;
    background-color: aqua;
    grid-gap: 10px;
    }
    .greeting{
        grid-column: 1/2;
        grid-row:1;
        border: black solid 1px;
        background-color: pink;
    }
    .todo {
        grid-column:1/2;
        grid-row: 2;
        border: black solid 1px;
        background-color: violet;
        height: 500px;
        width: 400px;
    }
    
    .calcul {
            grid-column: 2/2;
            grid-row: 1;
            border: black solid 1px;
            background-color:yellow;
     }
     .clock {
         grid-column: 2/2;
         grid-row:2;
         border: black solid 1px;
         background-color: red;
     }