 .first { 
    display: grid;
    height: 794px;
    width: 870px;
    border: solid black 3px;
    grid-template-rows: 50% 50%;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 20px;
    grid-column-gap: 20px;
    background-color: beige;

}
 p { display: flex;
    border: solid brown 3px; }
    
    .middle {
        display: flex;
        grid-row: 1/2;
        grid-column: 1/4;
        color:white;
        font-size: xx-large;
        font-weight: bolder;
        font-style: oblique; 
        align-items: center;
        align-items: middle;
        font-family: Arial, Helvetica, sans-serif;
        background-image: url("milkyway.jpeg");
    }

    


}
    
