/* Extra Small and up (Portrait Phones) */

/* Small and up (Landscape Phones) */
@media (min-width: 576px) {
    .container{
      background-color: pink;
      display: flex;
      justify-content: center;
    }
    .header{
      font-size: 18px;
    }
  }
  
  /* Medium and up (Tablets) */
  @media (min-width: 768px) {
    .container{
      background-color: yellow;
    }
    .header{
      font-size: 24px;
      display: none;
    }
  }
  
  /* Large and up (Desktops) */
  @media (min-width: 992px) {
    .container {
      background-color: green;
    }
    .header{
      font-size: 28px;
    
    }
  }
  
  /* Extra Large and up (Wide Screen Desktops) */
  @media (min-width: 1200px) {
    .container{
      background-color: blue;
    }
    .header{
      font-size: 36px;
    }
  
  }
    
.header {
  font-family: sans-serif;
  
  
}
p { 
  font-family: Georgia, 'Times New Roman', Times, serif;

}
h2 { 
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
p { font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

button {
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
outline-style: dotted;
background-color: green;

}

.phone {
background-color: gray;
float:left;
}
.movetoright {
float: right;
text-align: right;
}
body { display:grid;
grid-template-columns: 50% 50%;
grid-template-rows: 25% 25% 25% 25%;
}

.social {
background-color: beige;
float: right;
}
.boxtoright { 
float: right;
}

button{
  float:right;
  
}